.footer__info_link {
    color: #FFF;
    text-decoration: none;
    font-size: 16px;
    line-height: 18px;
    font-weight: 400;
    font-style: normal;
}

.footer__info_link:hover {
    opacity: 0.8;
}

@media screen and (max-width: 736px) {
    .footer__info_link {
        font-size: 24px;
        line-height: 24px;
    }
}