.header__language-navigation_style {
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    color: #FFF;
    text-decoration: none;
}

.header__language-navigation_style:hover {
    opacity: 0.8;
}

@media screen and (max-width: 736px) {
    .header__language-navigation_style {
        font-size: 18px;
        line-height: 20px;
    }
}