.place__paragraph {
    margin: 0;
}

.place__paragraph:first-child {
    margin: 0 0 26px 0;
}

@media screen and (max-width: 1200px) {
    .place__paragraph:first-child {
        margin: 0 0 27px 0;
    }
} 

@media screen and (max-width: 965px) {
    .place__paragraph:first-child {
        margin: 0 0 25px 0;
    }
}

@media screen and (max-width: 736px) {
    .place__dparagraph {
        padding-left: 16px;
    }
}