.place__adress {
    font-weight: 400; 
    font-style: normal;
    font-size: 18px;
    line-height: 22px;
    color:#FFF;
    text-decoration: underline;
}

.place__adress:hover {
    opacity: 0.8;
}