.place__description {
    max-width: 484px;
    object-fit: cover;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 29px;
}

@media screen and (max-width: 1200px) {
    .place__description {
        max-width: 456px;
    }
}

@media screen and (max-width: 965px) {
    .place__description{
        max-width: 352px;
        font-size: 16px;
        line-height: 26px;
    }
}

@media screen and (max-width: 736px) {
    .place__description {
        display: block;
        box-sizing: border-box;
        text-align: start;
        width: 288px;
        font-size: 16px;
        margin: 0;
        
    }
}