.bashmakova {
    max-width: 984px;
    padding: 92px 0 92px;
}

@media screen and (max-width: 1200px) {
    .bashmakova {
        max-width: 928px;
    }
}

@media screen and (max-width: 965px) {
    .bashmakova {
        max-width: 720px;
        padding: 88px 0 88px;
    }
}

@media screen and (max-width: 736px) {
    .bashmakova {
        max-width: 288px;
        padding: 64px 0 64px;
    }
}